*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input, button, select, textarea{/* font famliy geralmente se coloca assim, para se tornar universal e nao somento no body*/
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #e5e5e5;
}
body::before{
    content: '';
    width: 100%;
    height: 368px;
    display: block;/*torna o display block, fazendo com q ele empurre todos os elementos seguites descolarem pra baixo*/

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;/*faz com q a camada fique por traz da camada superior*/
    background: black;
}

.page{
    width: 736px;
    margin:  auto;
}

header{
    width: 319px;
    margin-top: 74px;
}

header h1{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color:white;

    margin-bottom: 24px;
}
header p{
    font-size: 16px;
    line-height: 26px;
    
    color: #42d3ff
}

form{
    margin-top: 38px;
    background: #fafafc;
    border-radius:  8px 8px 0 0;
    min-height: 300px;
    padding: 64px;

    /*essa parte serve para colocar as 3 partes do formularios(os 3 fieldsets) um abaixo do outro e com espaçamento de 48px*/
    display: flex;
    flex-direction: column;
    gap: 48px;
}
fieldset{
    border: none;

}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend{
    font-family: 'Archivo';
    font-weight: 600;/*nao existe font weight semi bold, por isso escrevemos 600*/
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    padding-bottom: 16px;/*para descer a borda tem q usar o padding, para preencher o espaço*/
    border-bottom: 1px solid #e6e6f0;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    
}

.input-wrapper label,
.checkbox-wrapper label{
    font-size: 14px;
    line-height: 24px;
    color: #4e4958;

    margin-bottom: 8px;
    
}
.input-wrapper label span{
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;

    color: #a4a1ab;
}
.input-wrapper label span:hover{/* serve para criar um contraste de cor quando o cursor do mouse passar em cima
    do span, o tom de texto se alterara para a cor abaixo*/
    color:#6c6a71;
}
.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select{
    background: #fafafc;

    border: 1px solid #e6e6f0;
    border-radius: 8px;

    height: 56px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
}

.input-wrapper textarea{
    padding: 0;
    height: 168px;
}
.input-wrapper select{
    appearance: none;
    /*as linhas abaixo servem apenas para garantir q todos os navegadores tenham o apperance none */
    /*-moz-appearance: none;
    -ms-appearance: none ; */
    -webkit-appearance: none;
    /* foi usado um auxiliar da ferramenta base64 "https://yoksel.github.io/url-encoder/" copy as svg e usando esse link
    para gerar a url abaixo*/
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.col-3{
    display: flex;
    gap:20px;

}
.col-3 > div:nth-child(1){/*o ">" significa q ele ira pegar apenas a primira div dentro da caixa*/
    /*o nthchild significa q eh o filho numero 1 dentro dessa div*/
    /* para revisar o conteudo assistir ao video ExplorerStage 03 - Avançando no HTML e CSS (aplicando estilos aos agrupamentos restantes minuto 08:20 do video*/
    width: 100%;
}

.checkbox-wrapper {/*essa aqui é uma estrategia para poder colocar o botao de check box
    pois oq aconteceu foi, nao eh possivel formatar o botao q ja vem pelo forms
    entao meio q criamos um botao aqui*/
    /*dessa forma o checkbox fica ocm uma posiçao absoluta relativa a essa camada do forms*/
    position: relative;
}


.checkbox-wrapper label{
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 0;

}

.checkbox-wrapper input{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0;/*para tornar o botao "invisivel"*/
}

.checkbox-wrapper label::before{
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1802_14)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1802_14'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before{
    outline: 2px solid black;/*formatando a borda do checkbox quando a caixinha estiver selecionada*/
}

footer{
    background: #f0f0f4;
    height: 136px;

    display: flex;
    flex-direction: column;

    padding: 40px 64px;
    margin-bottom: 100px;

    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 8px, 8px;
}

footer .button{
    height: 156px;
    background: #04d361;
    border: 0;
    border-radius: 8px;

    font-family: 'Archivo';

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    color: #ffffff;
}

footer .button:hover{
    background:  #07a950;
}

input:invalid{
    border: 1px solid #ff1010
}